
## <summary>policy for xnode</summary>


########################################
## <summary>
##	Transition to xnode.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`xnode_domtrans',`
	gen_require(`
		type xnode_t, xnode_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, xnode_exec_t, xnode_t)
')


########################################
## <summary>
##	Execute xnode server in the xnode domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xnode_initrc_domtrans',`
	gen_require(`
		type xnode_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, xnode_initrc_exec_t)
')


########################################
## <summary>
##	Search xnode lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xnode_search_lib',`
	gen_require(`
		type xnode_var_lib_t;
	')

	allow $1 xnode_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read xnode lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xnode_read_lib_files',`
	gen_require(`
		type xnode_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, xnode_var_lib_t, xnode_var_lib_t)
')

########################################
## <summary>
##	Manage xnode lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xnode_manage_lib_files',`
	gen_require(`
		type xnode_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, xnode_var_lib_t, xnode_var_lib_t)
')

########################################
## <summary>
##	Manage xnode lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xnode_manage_lib_dirs',`
	gen_require(`
		type xnode_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, xnode_var_lib_t, xnode_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a xnode environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`xnode_admin',`
	gen_require(`
		type xnode_t;
		type xnode_initrc_exec_t;
		type xnode_var_lib_t;
	')

	allow $1 xnode_t:process { ptrace signal_perms };
	ps_process_pattern($1, xnode_t)

	xnode_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 xnode_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, xnode_var_lib_t)

')

