# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=XNODE_Coin Daemon SNAP
Comment=main
GenericName=XNODE_Coin Digital Currency Daemon Client main network
Exec=xnode_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/xnode_coin.png
MimeType=x-scheme-handler/xnode;
Categories=X-Office;X-Finance;
Keywords=internet;xnode_coin;zxnode;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=xnoded.desktop
